<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
{#        创建鼠标点击验证码事件#}
        $(function () {
{#            创建id为vcode的鼠标点击时间#}
            $('#vcode').click(function () {
{#                    当点击这个标签时，其属性src会自动生成数字添加到后缀中，以此来重新生成新的验证码#}
                    $(this).attr('src','/myapp/getvcode'+Math.random())
            })
        })
    </script>


</head>
<body>
{#注册表单#}
{#提交表单时再次访问注册路由#}
{# enctype="multipart/form-data"支持上传 #}
<form action="{% url 'myapp:register' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" placeholder="请输入用户名" name="uname"><br>
    <input type="password" placeholder="请输入用户密码" name="upwd"><br>

{#    用于上传头像的表单控件#}
    <input type="file" name="uicon" style="margin:5px 0"><br>
    
    {#用于显示验证码的控件#}
    {#SRC是一个返回图片字节数据的路由#}
    {#id用于定义点击事件，看不清时重新获取验证码数据#}
    <img src="/myapp/getvcode/" id="vcode"><br>

    {#用户数据让验证码#}
    {#name='vcode'定义后台获取用户输入数据的键#}
    <input type="text" placeholder="请输入验证码" name="vcode"><br>
    <input type="submit" value="注册"><br>
</form>
</body>
</html>